/**
 * Estilos partilhados do conteúdo de documentação.
 * Blockquote e copyright (VitePress e Gibbon PHP).
 */

.vp-doc blockquote,
.gibbon-doc blockquote {
  border-left: 2px solid var(--vp-c-brand-3);
  color: var(--vp-c-brand-1);
  font-weight: 500;
  margin: 2rem 0;
  padding-left: 1rem;
}

.copyright,
.gibbon-docs-copyright {
  font-size: 11px !important;
  color: var(--vp-c-text-3) !important;
}

/* Títulos de grupo de menu (Gibbon PHP) */
.gibbon-docs-menu-group .title {
  line-height: 28px;
  font-size: 10px;
  font-weight: 600;
  color: var(--vp-c-text-2);
  text-transform: uppercase;
  transition: color 0.25s;
}
